<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<html>
<head>
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mp.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static "img/logo.png" %}">
    <title>Main page</title>
</head>
<body>
<div id="SideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times</a>
    <a href="{% url 'sport_app:mainpage' %}">Main Page</a>
    <a href="{% url 'sport_app:index' %}">GYM's list</a>
    <a href="{% url 'sport_app:coachView' %}">Coaches</a>
    <a href="{% url 'sport_app:systems' %}">Training System</a>
    <a href="{% url 'sport_app:food' %}">Food<br></a>
    {#    <div class="lds-dual-ring"></div>#}

</div>
<script type="text/javascript">
    /*Opening the sidenav
    function openNav() {
document.getElementById("SideNav").style.width = "100%";
}*/
    var nav = document.getElementById("SideNav");

    function openNav() {
        nav.style.left = "0";
    }

    /* Close/hide the sidenav
    function closeNav() {
      document.getElementById("SideNav").style.width = "0";
    } */
    function closeNav() {
        nav.style.left = "-25%";
        {#document.getElementById("Main").style.marginLeft = "0";#}
        document.body.style.backgroundColor = "white";
    }
</script>
<div class="header">
    <div class="row">
        <div class="col-2 "><span class="menu_btn" onclick="openNav()">&#9776;</span></div>
        <div class="col-7 pt-2">
            <form action="{% url 'sport_app:search' %}" method="post">
                {% csrf_token %}
                <div class="md-form mt-1 w-100">
                    <input class="form-control" type="text" name="search_field" placeholder="Search"
                           aria-label="Search">
                </div>
                {#                </div>#}
            </form>
        </div>
        {% if user.is_authenticated %}
            <div class="col-3">
                <div class="row pt-2">
                    <p class="h4 pt-1">Hi {{ user.username }}!</p>
                    <a class="btn ml-3" href="{% url 'logout' %}"> Log out</a>
                </div>
            </div>
        {% else %}
            <div class="col-3">
                <a class="btn ml-3" href="{% url 'sport_app:registration' %}">sign up</a>
                <a class="btn ml-3" href="{% url 'sport_app:login' %}">log in</a>
            </div>
        {% endif %}

    </div>
</div>
{% block content %}
{% endblock %}
<!--Content !-->
<div class="footer">
    <div class="footer_content">
        <div id="quote">
            <div></div>
            <div><p class="h5">It's not whether you get knocked down; <br>it's whether you get up.</p></div>
            <div></div>
        </div>
        <div><img src="{% static 'img/instagram.png' %}" alt="instagram"></div>
        <div><img src="{% static 'img/facebook.png' %}" alt="facebook"></div>
        <div id="footer_email"><a href="#">contact us by: sportnutrition@gmail.com</a></div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Get a membership</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                PRIVET KARIM HOCHEW ZARAGATSYA?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>