{% extends "common.html" %}
{% block content %}
    <div class="w-100">
        <div class="fotorama"
             data-allowfullscreen="true"
             data-fit="cover"
             data-width="100%"
             data-ratio="21/9">
            <img src="{{ coach.img.url }}">
        </div>
        <div class="p-3">
            <h4><b>{{ coach.name }}</b></h4>
            <p>{{ coach.info }}</p>
            {#            <button class="btn">register</button>#}
        </div>
    </div>
{% endblock %}