{% load embed_video_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ewkere</title>
</head>
<body>
    {% for i in system %}
        <h1>{{ i.name }}</h1>
        <p>{{ i.info }}</p>
        {% if system.video %}
        <iframe width="560" height="315" src="{{ system.video}}"
                frameborder="0" allow="accelerometer; autoplay; encrypted-media;
                gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endif %}
    {% endfor %}
</body>
</html>