<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="../../static/css/index.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="../../static/Logo.jpg" height="50"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'sport_app:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">GYMs list</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
                    Authorization
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="login">Log In</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="registration">Sign Up</a>
                </div>
            </li>
                        <li class="nav-item">
                <a class="nav-link" href="{% url 'sport_app:coachView' %}">Coaches list</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="container">
    <br>
    <br>
    <div class="row">
        {% for i in sport_section %}
            <div class="col-4 mh-99">
                <div class="card">
                    <div class="card-header">
                        <h3  class="center"><a href="{% url 'sport_app:detail' i.id %}">{{ i.name }}</a></h3>
                    </div>
                    <div class="row">
                        <div class="container"><img src="../static/img/{{ i.img.name }}" alt="" class="card-img-top"
                                                    width="80%" height="100%"></div>
                    </div>
                    <div class="card-body"><p class="card-text">{{ i.info }}</p></div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
        <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
        <script>(function () {
            var setting = {
                "height": 536,
                "width": 803,
                "zoom": 12,
                "queryString": "Алматы, Казахстан",
                "place_id": "ChIJq8vFFn1ugzgRdm2YrY9mRD0",
                "satellite": false,
                "centerCoord": [43.222188984554116, 76.86483551420274],
                "cid": "0x3d44668fad986d76",
                "cityUrl": "/kazakhstan/abay-280276",
                "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3",
                "embed_id": "104947"
            };
            var d = document;
            var s = d.createElement('script');
            s.src = 'https://1map.com/js/script-for-user.js?embed_id=104947';
            s.async = true;
            s.onload = function (e) {
                window.OneMap.initMap(setting)
            };
            var to = d.getElementsByTagName('script')[0];
            to.parentNode.insertBefore(s, to);
        })();</script>
        <a href="https://1map.com/map-embed?embed_id=104947">1map.com</a></div>
</div>
</body>
</html>